@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  /* border: 1px solid red; */
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  background-image: url("./pictures/pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 10px;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: end;
}

.btns {
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
}

.btns button {
  padding: 0.5rem;
  background-color: transparent;
  color: white;
  border: 0px;
  font-size: 1rem;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
}

.title h1 {
  text-shadow: 3px 3px 10px black;
}

.content {
  padding: 1.5rem 5rem 1rem 5rem;
  background-color: #f3e6c1;
  color: rgb(47, 47, 47);
}

img {
  /* border-radius: 100%; */
}

.items {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.card {
  background-color: #c8bb9a;
  box-shadow: 1px 1px 5px;
}

.card-img {
  width: 250px;
  height: 200px;
}

.card h3 {
  text-align: center;
}

.textContent {
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.home-pic {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.home-pic img {
  border-radius: 100%;
}
